.hero {
    min-height: 618px;
    background: url('../img/hero_bg.jpg') center (center / cover) no-repeat;

    &__wrapper {
        padding-top: 115px;
        padding-bottom: 93px;
    }

    &__title {
        font-weight: 500;
        font-size: 48px;
        line-height: 58px;
        color: $white-color;
    }

    &__subtitle {
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $white-color;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        position: relative;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: $white-color;
        padding-left: 30px;

        &::before {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            width: 16px;
            height: 16px;
            background-image: url('../../icons/list.svg');
        }
    }
}